
.navbar {
   align-items: center;
   display: flex;
   justify-content: space-between;
   padding: 2rem 6rem;
}

.links-container {
   display: flex;  
}

.link {
   font-size: 2.5rem;
   text-transform: uppercase;
   margin-left: 5rem;
   cursor: pointer;
}