
.navbar {
   align-items: center;
   display: flex;
   justify-content: space-between;
   padding: 2rem 6rem;

   // ***** media
   @media only screen and (max-width: 800px) {
      padding: 1rem 2rem;
   }
}

.links-container { display: flex; }

.link {
   font-size: 2.5rem;
   text-transform: uppercase;
   margin-left: 5rem;
   cursor: pointer;

   // ***** media

   @media only screen and (max-width: 800px) {
      font-size: 1.8rem;
   }
}